<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="visualization"></div>
<script type="text/javascript">
    var container = document.getElementById('visualization');
  var items = [
    {% for d, c in data.items() %}
    {x: "{{ d }}", y: {{ c }}},{% endfor %}
  ];

  var dataset = new vis.DataSet(items);
  var options = {
      drawPoints: false,
      dataAxis: {
          title: {
              left: {
                  text: "Comments per {{ period }}"
              }
          }
      }
  };
  var graph2d = new vis.Graph2d(container, dataset, options)
</script>
</body>
</html>
